.util {
  float: left;
}

canvas {
  border: solid black 1px;
}

#display {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

#display2 {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}

.text {
  font-size: 24px;
}

.screen {
  width: 800px;
  height: 600px;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,1);
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.title {
  font-size: large;
  text-align: center;
}

