.content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
}

.screen {
  border: solid black 1px;
  width: 480px;
  height: 320px;
}

.centered {
  position: relative;
  margin: 0 auto;
}

.title {
  font-size: large;
  text-align: center;
}

