.screen {
  border: solid black 1px;
  width: 480px;
  height: 660px;
  cursor: crosshair;
  position: relative;
}

.centered {
  margin: 0 auto;
}

.left {
  float: left;
}

.bottom-left{
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-right{
  position: absolute;
  bottom: 0;
  right: 0;
}

.messages {
  position: absolute;
  font-size: xx-large;
  text-align: center;
  width: inherit;
  top: 320px;
  z-index: 0;
}
