.util {
  float: left;
}

canvas {
  border: solid black 1px;
}

#display {
  left: 0;
  position: absolute;
  top: 0;
}

#display2 {
  position: absolute;
  left: 480px;
  top: 0;
}

#interactive{
  position: absolute;
  left: 0px;
  top: 320px;
}

.screen {
  width: 960px;
  height: 520px;
  position: relative;
  border: solid black 1px;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.title {
  font-size: large;
  text-align: center;
}

