.util {
  float: left;
}

canvas {
  border: solid black 1px;
}

#display {
  left: 0px;
}

#display2 {
  position: absolute;
  left: 480px;
  top: 0;
}

.screen {
  width: 960px;
  height: 320px;
  position: relative;
}

.centered {
  margin: 0 auto;
}

.title {
  font-size: large;
  text-align: center;
}

